<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/styleNav.css" />
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">DesignX</label>
      <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/secret">Secret</a></li>
       
      </ul>
    </nav>
    <section>
        Welcome to authentication system
    </section>
  </body>
</html>
